<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/push.js"></script>
<script src="/javascripts/lib/enchant.js"></script>
<script src="/javascripts/lib/avatar.enchant.js"></script>
<script src="/javascripts/lib/ui.enchant.js"></script>
<script src="/javascripts/app/main.js"></script>
<script>

  var socket = io.connect();
  socket.emit('request');
  socket.on('response', function() {
    console.log(socket);
  });

  Push.create('FINISH!', {
    body: 'あなたの勝ちです！',
    icon: {
      x32: '/images/player01.gif'
    },
    timeout: 3000
  });
</script>
</body>
</html>