<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="lobby">
  <div class="wrapper">
    <ul id="msgList"></ul>
    <div class="inputArea__wrap">
      <input type="text" id="inputArea__msg" />
      <button class="inputArea__btn" onClick="publishMessage();">Taking!</button>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/push.js"></script>
  <script src="/javascripts/lobby.js"></script>
</body>
</html>