$baseBrandColor: #27e4b2;

html,
body {
	overflow-y: hidden;
}
body {
	display: flex;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222c37;
}
a {
  color: #00B7FF;
}
.clearfix {
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
.chat__wrap {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fffaef;
	box-sizing: border-box;
}
.chat__ttl {
	padding: 10px 20px;
	color: #fff;
	background-color: $baseBrandColor;
	border-bottom: 1px solid #27c39a;
}