$baseBrandColor: #27e4b2;

* {
  box-sizing: border-box;
}

html,
body {
	overflow-y: hidden;
}
body {
	display: flex;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222c37;
  &.lobby {
  	background: {
  		color: #f9f3e9;
  	}
  }
}
a {
  color: #00B7FF;
}
.clearfix {
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
.wrapper {
  padding: 20px;
}
.inputArea__wrap {
  display: flex;
  justify-content: space-between;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px;
	border-top: 1px solid #ddd;
  background: {
    color: #fff;
  }
}
#inputArea__msg {
	width: 86%;
  margin-right: 20px;
	height: 2em;
  font: {
    size: 16px;
  }
	border: 1px solid #ddd;
	border-radius: 6px;
  transition: .3s;
  &:focus {
    height: 60px;
    vertical-align: top;
    transition: .3s;
  }
}
.inputArea__btn {
  width: 100%;
  max-width: 100px;
  padding: 4px 10px;
  color: #fff;
  font: {
    size: 16px;
  }
  background: {
    color: #5f8ed5;
  }
  text-align: center;
  border: none;
  border-radius: 10px;
}